// colors
$bg-color: linear-gradient(to bottom, #1658a9, #369ee8);
$left-color: #e30034;
$right-color: #c80031;
$a-shape-color: #ffffff;
$shadow-color: #000000;

// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: $bg-color;
  overflow: hidden;
}

.logo{
  @include center;
  top: -1vmin;
  filter: drop-shadow(0 0 1vmin $shadow-color);

  .trapezoid-left{
    @include center;
    z-index: 1;
    top: -9.6vmin;
    left: -25.4vmin;
    border-bottom: 26vmin solid $left-color;
    border-right: 20vmin solid transparent;
    height: 0;
    width: 42.4vmin;
    transform: rotate(-90deg) skewX(-29deg);

    &:before{
      @include pseudo;
      top: -2.5vmin;
      left: 1.95vmin;
      width: 38.5vmin;
      height: 5vmin;
      background: $left-color;
      transform: rotate(-7deg) skewX(35deg);
    }

    &:after{
      @include pseudo;
      left: 44.3vmin;
      top: -0.2vmin;
      border-bottom: 26.3vmin solid $left-color;
      height: 0;
      width: 10vmin;
      transform: skewX(42.5deg);
    }
  }

  .a-shape-left{
    @include center;
    z-index: 2;
    top: -8.2vmin;
    left: -11.5vmin;
    width: 48vmin;
    height: 6.4vmin;
    background: $a-shape-color;
    transform: rotate(-66deg) skewX(24deg);
  }

  .a-shape-center{
    @include center;
    z-index: 3;
    top: 10vmin;
    left: 2vmin;
    width: 20vmin;
    height: 6vmin;
    background: $a-shape-color;
  }

  .a-shape-right{
    @include center;
    z-index: 3;
    top: 0.5vmin;
    left: 16.4vmin;
    width: 38vmin;
    height: 6.4vmin;
    background: $a-shape-color;
    transform: rotate(66deg) skewX(-24deg);

    &:before{
      @include pseudo;
      top: 7vmin;
      left: 6.05vmin;
      width: 5vmin;
      height: 2vmin;
      background: $a-shape-color;
      transform: rotate(37deg);
    }

    &:after{
      @include pseudo;
      top: 0vmin;
      left: -9.4vmin;
      width: 0;
    	height: 0;
    	border-bottom: 7.2vmin solid $a-shape-color;
    	border-right: 10vmin solid transparent;
    	border-left: 10vmin solid transparent;
      transform: rotate(-180deg);
    }
  }

  .trapezoid-right{
    @include center;
    z-index: 2;
    top: 10.3vmin;
    left: 26.5vmin;
    border-bottom: 26.2vmin solid $right-color;
    border-right: 20vmin solid transparent;
    height: 0;
    width: 42.4vmin;
    transform: rotate(90deg) skewX(-11.5deg);

    &:before{
      @include pseudo;
      top: -2.3vmin;
      left: 0.075vmin;
      width: 42vmin;
      height: 5vmin;
      background: $right-color;
      transform: rotate(6.5deg) skewX(0deg);
    }

    &:after{
      @include pseudo;
      left: -1.98vmin;
      top: -0.2vmin;
      border-bottom: 26.3vmin solid $right-color;
      height: 0;
      width: 10vmin;
      transform: skewX(-8.7deg);
    }
  }
}
